a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
  padding: 1em;
  background-color: rgb(228, 215, 250);
}

header h1 {
  margin-right: auto;
}

header a {
  padding: 0.5em;
  border-radius: 7px;
}

header .active {
  color: #fff;
  background-color: rgb(98, 33, 158);
}

main {
  padding: 2em;
}

.global-button {
  background-color: rgb(98, 33, 158);
  color: #fff;
  border: 0;
  border-radius: 0.5em;
  font-size: 1em;
  padding: 0.7em;
  margin-bottom: 2em;
}

.global-input {
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 1em;
}

/* Recipe */

.recipe-box {
  display: flex;
  flex-flow: row wrap;
  gap: 0.7em;
}

.warning {
  color: red;
}

.recipe-card {
  height: 15em;
  width: 10em;
  border: 2px solid rgb(106, 27, 109);
  padding: 0.7em;
  background-color: rgb(247, 235, 220);
}

.recipe-button {
  margin-right: 1em;
}

/* .bookLink {
  color: #000;
}

.book-title {
  font-weight: 900;
} */

img {
  max-width: 80vw;
  margin-top: 1em;
}
